.header {
	
	&__logo {
		img {
			// position:relative;
			// top:-1px;
		}
		h1 {
			position:absolute;
			left:100000000000px;
		}
		@include respond(large) {
			min-width:75%;
		}
	}

	&__logo-container {
			border-bottom:solid 2px lightgrey;
			display: flex;

			div:last-child{
				display: flex;
				flex-direction:column;
				width:100%;
				text-align:right;

				.navigation {
					margin-top: auto;
				}
			}
		
	}


}
