.search {
	@include respond(large) {
		display:none;
	}
	display: flex;
	align-items:center;
	direction:rtl;
	text-align:right;
	padding-top:0px;

	&__button {
		color:$medium_grey;
		border:none;
		margin-left:2px;
		text-transform: uppercase;
		cursor:pointer;
		padding:.2rem 1rem;
		background-color:$color-primary;
		height:25px;
		margin-bottom:.2rem;
		letter-spacing:2px;
		font-size:.9rem;
		font-weight:400;
		transition: all .3s ease-in-out;
		
		&:hover {
			background-color:$color-primary-light;
			transition: all .3s ease-in-out;
		}
	}

	&__form{
		display:inline-flex;
		opacity:0;
		width:75%;
		transition: all 1.2s;
		

		input[type="submit"]{
			// display:none;
		}
	}
	
	&__input {
		width:0px;
		overflow: hidden;
		border:none;
		border-bottom:solid 2px $grey;
		text-align:left;
		direction:ltr;
		transition: width 1.2s;
		
		

		&:focus {
			outline:none;
		}
	}
	
	
	
	&__hidden-checkbox {
		display: none;
		// opacity:0;
		// width:0px;
	}

	&__hidden-checkbox:checked ~ &__form{
		opacity:1;
	}
	
	&__hidden-checkbox:checked ~ form &__input {
		width:70%;
		transition: width 1.2s;
	}

	&__hidden-checkbox:checked ~ form input[type="submit"]{
		display:block;
	}

	&__hidden-checkbox:checked ~ label {
		opacity:0;
		display:none;
		transition: all 1.2s;
	}
}