.fixed_top {
	background-color:$color-primary;
	width:100%;
	padding-top:1rem;
	padding-bottom:.5rem;

	.container {
		margin-bottom:0px;
	}
	.row .col:first-child {
		padding-left:0px;

		@include respond(large) {
			display: none;
		}
	}
	
}