.read_more {
	

	a {
		font-weight:400;
		
		text-transform: uppercase;
		color:$color-primary-dark;
		font-weight:400;
		text-decoration: none;

		&:hover {
			font-weight:400;
			color:$color-primary-darkest;
			transition: all .5s;
		}
	}
}