//COLORS
$color-primary-lightest: rgba(#FFEFEF,.6);
$color-primary-light:#FFEFEF;
$color-primary: #FFd9D9;
$color-primary-dark: #DCA2A2;
$color-primary-darkest: #997373;

$color-secondary: #3B3561;
$color-secondary-light: #EEE8FF;
$color-secondary-dark: #08022E;


$lightGrey: #EEEEEE;
$grey: #95A5A6;
$medium_grey: #5c5c5c;


$purple-light: #D1D1D1;
$blue: #51A3A3;
$black: #000;

$white: #eee;
$lightgrey: #ECF0F1;

//SIZES
$default-font-size: 1rem;


//TOP 3 ARTICLE WIDTH FULL SIZE
$articleImg-width-fs: 350px;
$articleImg-height-fs: 300px;


//TOP 3 ARTICLE WIDTH MEDIUM SIZE
// $articleImg-width-ms:;
// $articleImg-height-ms:;


//TOP 3 ARTICLE WIDTH SMALL SIZE

// GRID
$grid-width: 85.375rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;